
$centrar: center;
$crema: hsl(20, 28%, 71%);
$primary: #b48f72;
$secondary: #b48f96;
$success: green;
$danger: red;
$warning: yellow;
$info: hsl(185, 48%, 73%);
$light: coral;
$dark: black;
$muted: grey;
$white: hsl(146, 26%, 70%);

.myBody{
    color: $crema;
}

.contenedor{
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
}

.my-container{
    background-color: darkgrey;
}

.card {
    background: cornflowerblue;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 50px;
    margin-top: 10px;
}

.card__titulo{
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: normal;
    margin-bottom: 20px;
}

.card__enlace {
    color: black;
}

.card__extracto{
    line-height: 28px;
    color: #6D6D6D;
    margin-bottom: 20px;
}

.boton {
    border: none;
    min-width: 180px;
    height: 50px;
    padding: 0 30px;
    background: black;
    color: #fff;
    display: inline-block;
    border-radius: 100px;
    text-decoration: none;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    background: #403CC2;
    transition: .3s ease all;

}

.contenedor1{
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
}

.carta{
    background: cornsilk;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 50px;
}

.carta__titulo{
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: normal;
    margin-bottom: 20px;
}

.carta__enlace {
    color: black;
}

.gridTexto{
    color: $warning;
}

.carta__extracto{
    line-height: 28px;
    color: #6D6D6D;
    margin-bottom: 20px;
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
    justify-content: flex-end;
}

.encabezado__titulo{
    font-size:20px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
}
.titulo--color{color:rgb(212, 207, 179)}

.encabezado__primertitulo{
    display: flex;
    justify-content: center;
}
.dropdown{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.texto__mytexto{
    display: flex;
    justify-content: center;
    font-size: 15px;
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 5px ;
    margin-right: 5px;
    margin-top: 25px;
    margin-bottom: 100px;
    }

.texto--color{
    background-color: lightslategrey;
}

.btn-primary{
    margin-top: 10px;
    display: flex;
    flex-direction: row;  
    width: 90px; 
}

.btn-secondary{
    margin-top: 10px;
    display: flex;
    flex-direction: row;  
    width: 90px;
}

.buttons{
    display: grid;
    justify-content: center;
    margin-bottom: 15px;
}

.footerParrafo{
    display: grid;
    align-items: center;
    justify-items: center;
}

.footer{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    align-items: flex-end;
    margin-bottom: 5px;
    background-color: rgb(165, 165, 165);

}

.footerM{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;

}

.color{
    display: flex;
    margin-top: 100px;
}

.icon{
    color: black;
}

.footer__encabezado{
    display: flex;
    justify-content: center;
}

.centrar{
    display: flex;
    justify-content: space-evenly;
   
    
}

.gridMensaje{
    display: flex;
    justify-content: center;
}

.gridDestinos{
    margin-top: 20px;
}

.centrarElementos{
    display: flex;
    justify-content: center;
    width: 100%;
    justify-content: space-between;
   
}

.icon{
    transition: all 2s ;
}

.icon:hover{
    transform: translateY(-15px);
}

.icon2{
    transition: all 2s ;
}

.icon2:hover{
    transform: translateY(-15px);
}

.icon3{
    transition: all 2s ;
}

.icon3:hover{
    transform: translateY(-15px);
}

.gridMapa{
    display: flex;
    justify-content: center;
}

.dinero{
    display: flex;
    justify-content: center;
}

.flexDinero{
    margin-top: 20px;
}

.flexTudinero{
    display: flex;
    justify-content: center;
    width: 100%;
    justify-content: space-between;
}

.contenedores {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-light{
    background-color: rgb(161, 161, 161);
}

.btn-outline-primary{
    color: #6D6D6D;
}
